.frame {
  height: 902px;
  width: 1544px;
  display: flex;
  flex-direction: column;
  background-color: #202124;
}

.criar_nota {
  height: 50px;
  width: 50px;
  background-color: green;
}

.inserir_titulo {
  width: 300px;
  height: 25px;
}

.inserir_nota {
  width: 300px;
  height: 25px;
}
