<div class="sidebar">
    <button class="celula_ativa">
        <p class="celula_texto">Notas</p> <img src="../../../assets/imagens/notas.svg" alt="Notas" class="icon">
    </button>
    <button class="celula">
        <p class="celula_texto">Lembretes</p> <img src="../../../assets/imagens/lembretes.svg" alt="Notas" class="celula_icon"> 
    </button>
    <button class="celula">
        <p class="celula_texto">Arquivo</p> <img src="../../../assets/imagens/arquivo.svg" alt="Notas" class="celula_icon"> 
    </button>
    <button class="celula">
        <p class="celula_texto">Lixeira</p> <img src="../../../assets/imagens/lixeira.svg" alt="Notas" class="celula_icon"> 
    </button>
</div>
